<h1>Edit Post</h1>
<div class="row">
  <div class="span6">
    <p>Guidelines for new posts:</p>
    <ul>
      <li>Make sure content is appropriate.</li>
      <li>Blah blah blah</li>
      <li>Blah blah blah</li>
      <li>Blah blah blah</li>
    </ul>
  </div>
  <div class="span6">
    <%= form_for @post, html: { class: 'form-horizontal' } do |f| %>
      <div class="control-group">
        <%= f.label :title, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :body, class: 'control-label' %>
        <div class="controls">
          <%= f.text_area :body, rows: 8 %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Save", class: 'btn' %>
        </div>
      </div>
    <% end %>
      def edit
          @post = Post.find(params[:id])
        authorize! :edit, @post, message: "You need to own the post to edit it."
        end

        def update
          @post = Post.find(params[:id])
          authorize! :update, @post, message: "You need to own the post to edit it."
          if @post.update_attributes(params[:post])
            flash[:notice] = "Post was updated."
            redirect_to @post
        else
            flash[:error] = "There was an error saving the post. Please try again."
            render :edit
        end
      end
  </div>
</div>  


        